$backgroundColour: #fff;
$defaultPanelTitleColor: #FFF;
$headingColour: #0077c8;

.mainmenu-area {
  background: $headingColour none repeat scroll 0 0 ;
}

.site-branding-area {
  background-color: $backgroundColour;
}

.panel-default > .panel-heading {
      background: $headingColour none repeat scroll 0 0 ;
}

.panel-default > .panel-heading > .panel-title {
  color: $defaultPanelTitleColor
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: $defaultPanelTitleColor;
    background-color: $headingColour;
}
