<div class="row">
  <div class="col-md-offset-5 col-md-3">
    <img src="/images/loading.svg" id="loading">
  </div>
  <manage-roles></manage-roles>
</div>
<script src="/dynamic/systemjs-config.js?appName=manageRoles"></script>
<% if (!sails.config.ng2.use_bundled) { %>
<script>
  System.import('manageRoles').catch(function(err){ console.error(err); });
</script>
<% } %>
