<div class="default-page">
    <div class="main container clearfix">
      <div class="header">
        <h1>A data management plan title</h1>
    </div>
    <div class='view-controls'><a class="btn btn-large btn-info" href="/<%= typeof branding == 'undefined'? data.branding : branding %>/<%= typeof portal == 'undefined'? data.portal : portal %>/plan/edit"><span class="glyphicon glyphicon-pencil"></span> Edit this plan</a></div>
    <div>
      <ul class="key-value-list">
        <li class="key-value-pair">
        <span class="key">RAiD</span>
        <span class="value"><a href='http://hdl.handle.net/10.1000/183'>http://hdl.handle.net/10.1000/183</a></span>
      </li>
      <li class="key-value-pair">
        <span class="key">Description</span>
        <span class="value">The USGS will develop science-quality, applications-ready, time-series of key terrestrial variables and produce them on an operational basis using historical, current, and future Landsat observations.  The terrestrial variables will follow the guidelines established through the Global Climate Observing System (GCOS) and include Climate Data Records (CDRs) that represent geophysical transformations of Landsat data (e.g., calibrated radiances, inter-calibration of Landsat instrument radiances, surface reflectance and surface temperature), and Essential Climate Variables (ECVs) that represent specific geophysical and biophysical land properties.  CDRs and ECVs offer a framework for producing long-term Landsat datasets suited for monitoring, characterizing and understanding land surface change over time (Strategic Plan for Developing Landsat-scale Climate Data Records and Essential Climate Variables).  Therefore, the USGS Land Remote Sensing Program sets the following goals for the next five years:<br/><br/>
 <ol>
<li>Generate a surface reflectance CDR from calibrated Landsat 4-7 and future Landsat missions as a first step in transforming Landsat data into a time series for terrestrial monitoring.</li>
<li>Conduct research to develop and implement a technical approach to develop terrestrial ECV products of dynamic surface water extent (SWE), burned area (BA) and snow covered area (SCA).</li>
<li>Link this work to USGS terrestrial monitoring activities involving scientific assessments and decision support.</li>
</ol><br/>
Nominal CDR production will generate surface reflectance products for every Landsat acquisition over the continental U.S. (CONUS) and Alaska from 1984 to the present.  There are approximately 1,176,019 scenes archived at EROS from Landsat 7 Enhanced Thematic Mapper Plus (ETM+) and 603,863 scenes from Landsat 5 Thematic Mapper (TM).  The total volume currently estimated for storing the raw Landsat pixel values, surface reflectance values, and ancillary quality information is 4.49 petabytes (PB).</span>
    </li>
</ul>
    </div>

    <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Overview</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="key-value-list">
      <li class="key-value-pair">
          <span class="key">Project start date</span>
          <span class="value">28-03-2017</span>
      </li>
      <li class="key-value-pair">
          <span class="key">Project end date</span>
          <span class="value">28-03-2020</span>
      </li>
      <li class="key-value-pair">
          <span class="key">Field of Research Codes</span>
          <span class="value">020303 - Fluid Physics</span>
      </li>
  </ul>
      </div>

</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse2">Contributors</a>
    </h4>
  </div>
  <div id="collapse2" class="panel-collapse collapse">
    <div class="panel-body">
      <ul class="key-value-list">
    <li class="key-value-pair">
        <span class="key"></span>
        <span class="value"><table class="table">
        <thead><th>Contributor Name</th><th>Email address</th><th>Role</th></thead>
        <tbody>
          <tr><td>Monique Krupp</td><td> monique.krupp@example.edu.au</td><td> Chief Investigator</td></tr>
          <tr><td>Paul James</td><td> paul.james@example.edu.au</td><td> Data Manager</td></tr>
        </table></span>
    </li>
</ul>
    </div>
</div>
</div>
  </div>
</div>
