<div class="row">
  <div class="col-md-offset-5 col-md-3" id="loading">
    <img src="/images/loading.svg">
  </div>
</div>
<dmp-form oid="<%= req.param('oid') %>" editMode="false" ></dmp-form>
<% if (!sails.config.ng2.use_bundled) { %>
<!-- Import and Load angular 2 if on dev mode-->
<script src="/dynamic/systemjs-config.js?appName=dmp"></script>
<script>
  System.import('dmp').catch(function(err){ console.error(err); });
</script>
<% } %>
