<div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tuakiri Credentials</h3>
        </div>
        <div class="panel-body">
          <% if (sails.config.auth[branding])  { %>
            <a href='<%=sails.config.auth[branding].tuakiri.loginUrl%>'><img src='/images/REANNZ_Tuakiri_service_234x82.png'/></a>
          <% } else { %>
            <a href='<%=sails.config.auth[sails.config.auth.defaultBrand].tuakiri.loginUrl%>'><img src='/images/REANNZ_Tuakiri_service_234x82.png'/></a>
          <% } %>
        </div>
      </div>
    </div>
</div>
