
<div class="row"></div>
  <h2>My draft plans</h2>

  <table class="table">
  <thead>
      <tr>
          <th>Plan Name</th>
          <th>Created</th>
          <th>Modified</th>
      </tr>
  </thead>
  <tbody *ngFor="let plan of draftPlans.items">
      <tr>
          <td><a href='/default/rdmp/record/{{ plan.oid }}/view'>{{ plan.title }}</a><span class="dashboard-controls"><a class="glyphicon glyphicon-pencil" href="#" tooltip="Edit" ></a></span></td>
          <td>{{ plan.dateCreated }}</td>
          <td>{{ plan.dateModified }}</td>
      </tr>
  </tbody>
</table>
<pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="draftPlans.totalItems"
          [(ngModel)]="draftPlans.currentPage" (pageChanged)="draftTablePageChanged($event)" class="pagination-sm"></pagination>

<h2>My active plans</h2>

<table class="table">
<thead>
    <tr>
        <th>Plan Name</th>
        <th>Created</th>
        <th>Modified</th>
    </tr>
</thead>
<tbody *ngFor="let plan of activePlans.items">
    <tr>
        <td><a href='/default/rdmp/record/{{ plan.oid }}/view'>{{ plan.title }}</a><span class="dashboard-controls"><a class="glyphicon glyphicon-pencil" href="#" tooltip="Edit" ></a></span></td>
        <td>{{ plan.dateCreated }}</td>
        <td>{{ plan.dateModified }}</td>
    </tr>
</tbody>
</table>
<pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="activePlans.totalItems"
          [(ngModel)]="activePlans.currentPage" (pageChanged)="activeTablePageChanged($event)" class="pagination-sm"></pagination>
